html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;

}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0,1.0);
    /*color: rgba(0, 0, 0, 0.69);*/
}

a:hover {
    color: rgb(0, 158, 133);
    -o-transition: .25s;
    -ms-transition: .25s;
    -moz-transition: .25s;
    -webkit-transition: .25s;
}

p a {
    color: rgb(0, 188, 163);
}

time {
    font-size: 0.75em;
    font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-weight: lighter;
    color: #a9b4b9;
    -webkit-font-smoothing: antialiased;
}


h1{
    margin-top: .1em;
    margin-bottom: .5em;
    /*font-family: 'icomoon';*/
    /*font-family: 'Roboto Mono', Monaco, courier, monospace;*/
    /*font-family: 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;*/
    font-family: "Ak-Light";
    /*font-family: Monaco, Menlo, Consolas, courier new, monospace;*/
    /*font-weight: bold;*/
    /*font-family: Monaco, Menlo, Consolas, courier new, monospace;*/
    /*font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;*/
    /*font-weight: lighter;*/
    /*color: #333333;*/
    -webkit-font-smoothing: antialiased;
}
h2,
h3,
h4,
h5 {
    margin-top: .5em;
    margin-bottom: .5em;

    /*font-family: Monaco, Menlo, Consolas, courier new, monospace;*/
    /*font-weight: bold;*/
    /*font-family: Monaco, Menlo, Consolas, courier new, monospace;*/
    font-family: "Ak-Light";
    /*font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;*/
    /*font-weight: lighter;*/
    /*color: #333333;*/
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2.0em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1em;
}

p {
    margin-bottom: 1.3em;
    line-height: 1.7em; }

img {
    max-width: 100%;
    margin: 0 auto;
    border-radius: 3px;
    text-align: center;
    display: block;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    /*font-family: Monaco, Menlo, Consolas, courier new, monospace;*/
    font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-weight: lighter;
    font-size: 1em;
    border-left: 3px solid
    #10af88;
}

blockquote p:last-child {
    margin-bottom: 0;
}


pre {
    word-wrap: break-word;
    white-space: pre-wrap;
    background-color: #f7f7f8;
    padding: 0px 20px 0px 20px;
    border-radius: 5px;
    border: 2px #000000;
    margin-bottom: 20px;
}

code {
    font-family: Monaco, Menlo, Consolas, courier new, monospace;
    font-weight: 400;
    color: rgba(0, 0, 0, .9);

    font-size: .9375em;
    font-style: normal !important;
    letter-spacing: 0;
    padding: .1em .5ex;
    margin: 0px 5px 0px 5px;
    word-spacing: -.15em;
    background-color: #f7f7f8;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    line-height: 1.45;
    text-rendering: optimizeSpeed;
    word-wrap: break-spaces;
    white-space: pre-wrap;
}



html{height:100%;}
body{min-height:100%;margin:0;padding:0;position:relative;}

header{background-color: #ffe4c4;}
main{padding-bottom:100px;background-color: #bdb76b;}/* main的padding-bottom值要等于或大于footer的height值 */
footer{position:absolute;bottom:0;width:100%;height:80px;background-color: #212529;}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 10px;
    outline: none;
}

input[type=text]:focus {
    border: 2px solid #555;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 10px;
    outline: none;
    height: 100px;
    resize: none;
}

textarea:focus {
    border: 2px solid #555;
}

.header {
    display: block;
    position: absolute;
    width: 100%;
    height: 70px;
    background-color: #212529
}

.header-menu {
    position: absolute;
    height: 70px;
    background-color: #212529;
    vertical-align: center;
    top: 0;
    right: 0;
    bottom: 0;
}

.header-menu a {
    color: white;
    width: 100px;
    margin-left: 30px;
    margin-right: 30px;
}

.container {
    width: 960px;
    padding: 0px 20px 20px;
    margin-right: auto;
    margin-left: auto;
}

.line {
    width: 100%;height: 2px;display: block;position: relative;margin-bottom: 30px;
}
.line-l {
    width: 45%;height: 2px;background-color: rgb(200, 200, 200);display: block;position: absolute;
}
.line-r {
    width: 45%;height: 2px;background-color: rgb(200, 200, 200);display: block;position: absolute;right: 0px
}
.line-icon {
    /*display: block;*/
    position: relative;
    width: 25px;
    height: 25px;
    top: -12px;
    alignment: center
}

.icon-bottom {
    width: 25px;
    height: 25px;
}

.title {

    font-size: 36px;
    text-align: center;
    color: white;
    margin-top: 40px;
    margin-bottom: 20px;
}

.title1 {
    background: white;
    font-size: 36px;
    text-align: center;
    color: rgb(200, 92, 94);
    margin-top: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.info {
    font-size: 18px;
    text-align: center;
    line-height: 2em;
    color: rgba(192, 192, 192, 0.87);
    margin-top: 24px;
    margin-bottom: 40px;
}

.row {
    margin-right: -20px;
    margin-left: -20px;
}

.section-list li {
    margin-bottom: 47px;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 20px;
    padding-left: 20px;
    width: 320px;
}

.shadowpower{
    box-shadow:0px 1px 2px 1px rgba(68,68,68,0.10);
    -webkit-box-shadow:0px 1px 2px 1px rgba(68,68,68,0.10);
    transition:all 0.4s;
}

.shadowpower:hover{
    box-shadow: 0px 10px 10px rgba(68,68,68,0.2);
    -webkit-box-shadow:0 10px 10px rgba(68, 68, 68, 0.2);
    -webkit-transform:translateY(-5px);
    transform:translateY(-5px);
}

.bottom-link {
    position: absolute;
    height: 80px;
    width: 30%;
    alignment: center;
    margin-left: 35%;
}

.bottom-link a {
    color: white;
    width: 120px;
}

.copyright {
    display: block;
    position: absolute;
    alignment: bottom;
    bottom: 25px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: white;
}

.round_button {
    /*position: relative;*/
    color: white;
    background-color: #11c79d;
    font-family: Ak-Italic;
    font-size: 20px;
    border-color: #11c79d;
    border-width: 1px;
    border-radius: 30px;
    padding: 10px 32px 10px 32px;
    margin-bottom: 20px;
    border: none;
    outline:none;
    /*alignment: center;*/
}

.round_button_shadow{
    opacity:0.9;
    box-shadow:0px 1px 2px 1px rgba(68,68,68,0.05);
    -webkit-box-shadow:0px 1px 2px 1px rgba(68,68,68,0.05);
    transition:all 0.4s;
}

.round_button_shadow:hover{
    opacity: 1.0;
    box-shadow: 0px 10px 10px rgba(68,68,68,0.2);
    -webkit-box-shadow:0 10px 10px rgba(68, 68, 68, 0.2);
    transform:translateY(-5px);
    -webkit-transform:translateY(-5px);
}


.index-content {
    float: left;
    margin: 0px 0px 20px 20px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, .5);*/
    width: 250px;
    background-color: #FFFFFF;
}

.content-wrapper {
    width: auto;
    margin: 20px 20px 0px 280px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, .5);*/
    padding: 25px 50px 25px 50px;
    background-color: #FFFFFF;
}


.document {
    color: #333333;
    font-size: small;
    text-align: center;
    line-height: 35px;
    border-spacing: 0;
    border: 1px solid #e1e1e1;
    width: 100%;
    margin: 0 0 25px 0;
}

.document td, .document th {
    padding: 0 10px 0 10px;
    border-right: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

.document th {
    text-align: center;
    background-color: #f7f7f8;
}

.document tr td:last-child, .document tr th:last-child{
    border-right: none;
    /*border-bottom: 1px solid #e1e1e1;*/
}

.document tr:last-child td {
    border-bottom: 0;
}

@media all and (max-width: 800px) {
    .index-content {
        float: none;
        margin: 10px 10px 10px 10px;
        width: auto;
    }

    .content-wrapper {
        width: auto;
        margin: 0px 10px 10px 10px;
    }
}



.panel-index {
    list-style-type: none;
    padding: 25px 10px 25px 25px;
    font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-weight: lighter;
    font-size: 14px;
    text-align: left;
    -webkit-font-smoothing: antialiased;
}

.panel-sub-index {
    padding: 0px 0px 0px 0px;
}

.index-link {
}

.index-link:before {
    display: inline-block;
    content: "";
    width: 8px;
    height: 8px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid;
    position: relative;
    top: 0px;
    left: -1px;
    margin-right: 10px;
}

.index-link:hover {
    color: #000000;
    border-color: #000000;
}

.sub-index-link {
    text-decoration: none;
    display: block;
    padding: 3px 15px;
    border-left: 2px solid #ddd;
    margin-left: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}

.sub-index-link:hover, .sub-index-link-seleted {
    color: #10af88;
    border-color: #10af88;
}

.panel-index-seleted {
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.panel-sub-index-seleted {
    color: rgb(0, 158, 133);
    cursor: pointer;
}

.panel-img {
    width: 100%;
    margin: 0 auto;
    border-radius: 0px;
    text-align: center;
}

.icon-img {
    margin: 0px 5px -4px -5px;
    width:20px;
    height:20px;
    border-radius: 0px;
    text-align: left;
    display: inline-block;
}



@media screen and (min-width: 960px) {

}

@media screen and (min-width: 680px) and (max-width: 960px) {

    .section-list li {
        width: 50%;
    }

    body , .container {
        width: 100%;
    }


    .bottom-link {
        position: absolute;
        height: 80px;
        width: 40%;
        alignment: center;
        margin-left: 30%;
    }

}
@media screen and (max-width:680px) {

    body , .container {
        width: 100%
    }

    .section-list li {
        width: 100%;
    }

    .section {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 135px;
    }


    .container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .bottom-link {
        position: absolute;
        height: 80px;
        width: 50%;
        alignment: center;
        margin-left: 25%;
    }
}
